$primary: #4CAF50; // button normal - checkbox - 
$primaryDark: #388E3C; // button hover -
$secundary:	#FF9800; // icon - 
$neutralLight: #F5F5F5; // cardTask Bg - 
$neutralMedium: #E0E0E0; // button disabled - input border - 
$neutralDark: #212121; //
$white: #fff; 


$buttonActive: #2E7D32;
$buttonDisabledBg: #E0E0E0;
$buttonDisabledText: #9E9E9E;
$iconButton: #f57c00;
$iconButtonActive: #ef6c00;
$checkBoxActive:  #4CAF50;

$poppins: "Poppins", sans-serif;