@use "../../styles/variables" as v;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: v.$neutralDark;
  font-family: v.$poppins;
}

@media (width >= 1024px) {
  .title {
    font-size: 3rem;
  }
}